*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f8f9;
}
header{
    height: 70px;
    background-color: white;
    width: 100vw;
}
img, h1{
    display: inline-block;
}
header>img{
    position: relative;
    left: 10px;
    top: 10px;
}
header>h1{
    position: relative;
    left: 8px;
    bottom: 5px;
}
main{
    width: 1000px;
    height: 80vh;
    margin: 7vh auto;
    background-color: white;
    padding: 15px 60px;
    position: relative;
}
hr{
    background-color:#f6f8f9 ;
    width: 100%;
    height: 2px;
    border: none;
    position: absolute;
    left: 0;
    margin-top: 10px;
}
input{
    padding: 7px 10px;
    background-color: white;
    border-radius: 5px;
}
input:hover{
    color: white;
    background-color: #47adf1;
    border-color: #47adf1;
}
.continitore{
    width: 1000px;
    height: 80vh;
    margin-top:60px ;
}
.b{
    display: inline-block;
    text-align: center;
    padding: 5px 8px;

}


